*{
    padding: 0;
    margin: 0; 
    font-family: Arial, Helvetica, sans-serif
}

#home{
    width: 100%;
    height: 100vh;
    background-image: url('kepek/balcsi3.jpg');
    background-size: cover;
    background-position: center;
    color: white;

}
#about{
    width: 100%;
    height: 100vh;
    background-color: blueviolet;

}
.opacity{
    opacity: 0.4;
}
nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    box-sizing: border-box;
    transition: .3s;
    z-index: 1;

}
nav .logo{
    transition: .3s;
    font-size: 30px;
    padding: 20px;
    color: white;
}
nav ul{
    list-style: none;
    float: right;
    margin: 0;
    padding: 30px;
    transition: .3s;
}
nav ul li{
    list-style: none;
    display: inline;
    padding: 20px;  
    transition: .3s;

}
nav ul li a {
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    transition: .3s;
}
nav ul li a:hover{
    color: rgba(255, 255, 255, 0.308);
}



@keyframes downarrow{
    0%{
        bottom: 10px;
    }
    50%{
        bottom: 30px;
    }
    100%{
        bottom: 10px;
    }
}
.cards{
    border: 1px solid black;
    border-radius: 10px;
    height: 50vh;
    text-align: left;
    background-color: #eee;
    padding: 20px; 
}

#about{
    display: flex;
    align-items: center;
}
.bgread{
    position: absolute;
    background-color: rgb(0, 0, 0, 0.5);
    top:0;
    bottom: 0;
    height: 100%;
    width: 100%;

    
    display: flex;
    align-items: center;

}
.aboutslider{
    margin: 0 auto;
}

#pictures{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
}
.bigpic, .pic1, .pic2, .pic3, .pic4, .pic5{
    background-position: center;
    background-size: cover;
}
.bigpic{
    width:100%;
    height: 50vh;
    border-radius: 30px 30px 0 0;
    
}
.pic{
    height: 200px;
    background-position: center;
    background-size: cover;
    cursor: pointer;
}
#contact{
    width: 100%;
    height: 100vh;
    background-color: lightblue;

    display: flex;
    align-items: center;
}
#contact .conttitle{
    padding: 100px;
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
}
form{
    margin: 0 auto;
    
}
.formchild{
    width: 600px;
    background: transparent;
    border: none;
    outline: none;
    border-bottom: 1px solid black;   
    color: #fff;
    padding: 20px;

}
.submit{
    width: 100%;
    height:100px;
    margin: 0 auto;
    background: grey;
    color: black;
    border-color: transparent;
    transition: 0.7s;
    cursor: pointer;
    box-shadow: 1px 1px black;
    margin-top: 20px;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    font-size: 30px;
}
footer{
    width: 100%;
    height: 50px;
    background-color: black;
    color: white;

}
footer p{
    float: right;
}
